body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aquamarine;
}

main {
    display: flex;
}

.calculator-body {
    margin-top: 50px;
    flex: 1 1 150px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid black;
}

#display {
    width: 290px;
    height: 50px;
    background-color: bisque;
    margin-bottom: 10px;
}

.calculator-body > div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.calculator-body > div > button {
    padding: 20px;
    flex: 1;
}

#zero {
    flex: 3.5;
}